.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
.gitmessage
.vscodeignore
tsconfig.json
vsc-extension-quickstart.md
vsc-commands.md
TODO.md
yarn.lock
coverage/**
.nyc_output/**
.DS_Store
.travis.yml
appveyor.yml
res/doc-images/**
